<header>
  <div class="header-nav">
    <a href="/">BLOG</a>
    <h1> welcome to my blog </h1>
    <p>proceed to login</p>
    <ul>
      <li><a href="/create">Create </a></li>
      <li><a href="/list">Articles</a></li>
      <% if (isLoggedIn) { %>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
      <% } %>
    </ul>
  </div>
  <p>Asiwaju's Programming Blog</p>
</header>
  