<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div id="login-box">
        <div class="left">
          <h1>Login</h1>
          <% if (errors.length > 0) { %>
            <ul class="errors">
              <% errors.forEach(error => { %>
                <li><%= error %></li>
              <% }); %>
            </ul>
          <% } %>
          <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" />
            
            <input type="password" name="password" placeholder="Password" />
            
            <input type="submit" name="signup_submit" value="Sign in" />
          </form>
        </div>
        
        <div class="right">
          <span class="loginwith">Sign in with<br />social network</span>
          
          <a href="/auth/facebook"><button class="social-signin facebook">Log in with facebook</button></a> 
          <a><button class="social-signin twitter">Log in with Twitter</button></a>
          <a href="/auth/google"><button class="social-signin google">Log in with Google</button></a>
        </div>
        <div class="or">OR</div>
    </div>
  </body>
</html>
